# Framework
fastapi[standard]
sqlmodel
uvicorn
alembic

# Environment variables 
python-dotenv

# Database drivers
psycopg[binary]
faker
factory_boy

# API client
httpx

# Authentication
pyjwt
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# Others
python-multipart
python-dateutil