# Framework
fastapi[standard]
sqlmodel
uvicorn
alembic

# Environment variables 
python-dotenv

# Database drivers
psycopg[binary]
faker
factory_boy

# API client
httpx

# Authentication
pyjwt
passlib[bcrypt]

# Others
python-multipart